<div>
  <ul class="list-group">
    <li class="list-group-item">Name: {{product.name}}</li>
    <li class="list-group-item">Description: {{product.description}}</li>
    <li class="list-group-item">Price: {{product.price}}</li>
    <li class="list-group-item">Category: {{product.category}}</li>
    <li class="list-group-item">Is Available: {{product.isAvailable}}</li>
    <li class="list-group-item"><button class="btn btn-primary float-right" (click)="onBuy()">Buy</button></li>
  </ul>
</div>


